<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
</head>
<body background="https://sv1.picz.in.th/images/2020/11/28/jzAo38.jpg">

<div layout:fragment="content" class="container">
    <iframe align = "right" style="overflow:hidden;border:0;margin:0;padding:0;width:130px;height:100px;" src="http://www.clocktag.com/html5/dt151.html" ></iframe>
    <img src="https://media0.giphy.com/media/lvd9JN6ZKY4JQopQAF/giphy.gif" width="200" height="200">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jzQLBg.md.jpg" width="100" height="150">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jzxT60.md.jpg" width="100" height="150">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jzwXyW.md.jpg" width="100" height="150">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jzwp92.md.jpg" width="100" height="150">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jzQeqW.md.jpg" width="100" height="150">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jzgC6u.md.jpg" width="100" height="150">
    <img src="https://sv1.picz.in.th/images/2020/11/27/jz1RgS.md.jpg" width="100" height="150">
    <b><p align = "right"><font size = "10"> Double'K G Forth'P Tutors Gang </font></p></b><br>
    <b><p align = "right"><font size = "2"> วุฒิเมศร์ สิริชัชวาลพงษ์ , กมลนิตย์ วารีรัตน์พิรุณ , พิชามญชุ์ ศรีมนตรีกุล</font></p></b><br>
    <b><p align = "right"><font size = "2"> ญาณัจฉรา วงศ์ชะอุ่ม , ชีวรัตน์ ภู่ทับทิม , พริมาพร จิตเมต , ฑิตฐิตา หวามา</font></p></b><br>

</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>