<!DOCTYPE html>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Kru'Pai</title>
    <link th:rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&display=swap" rel="stylesheet">
    <link th:rel="stylesheet" th:href="@{css/mystyle.css}">
</head>
<body background="https://image.freepik.com/free-vector/wrinkled-paper-texture_1100-12.jpg">
<div layout:fragment="content" class="container">
    <div class="">
        <h1 class="display-4 my-font" th:text="BigData" align = "center"></h1>
        <h1 class="display-4 my-font" th:text="การวิเคราะห์ข้อมูลขนาดใหญ่" align = "center"></h1>
    </div>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/L3Ceu7i95yw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen align="left"></iframe>
    <div class="jumbotron" align="center">
        <h5>คำอธิบายรายวิชา</h5>
        <h6>ความรู้เบื้องต้นเกี่ยวกับข้อมูลขนาดใหญ่ การกําหนดข้อมูลขนาดใหญ่</h6>
        <h6>ภาพรวมของการเก็บข้อมูล ขนาดใหญ่ การเลือกที่เก็บข้อมูลขนาดใหญ่</h6>
        <h6>การประมวลผลข้อมูลขนาดใหญ่ ความรู้เบื้องต้นเกี่ยวกับ Hadoop</h6>
        <h6>การใช้งาน Hadoop MapReduce </h6>
        <h6>การวิเคราะห์ข้อมูลขนาดใหญ่ด้วย Hadoop MapReduce</h6>
        <h6>เครื่องมือและเทคนิคในการวิเคราะห์ข้อมูลขนาดใหญ่</h6>

    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script th:src="@{js/bootstrap.min.js}"></script>

</body>
</html>